* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}

body {
    background-color: lightgrey;
}

::-webkit-scrollbar{
    background: rgba(0, 0, 0, 0);
    border: solid 5px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;

}

main {
    width: 70%;
    height: 70vh;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin: 15vh auto;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

main .input {
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    border-bottom: solid lightgray 1px;
}

main .input:focus{
    border-bottom: solid black 1px;
    outline: none;
}

main article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: lightgray solid 1px;
    padding: 15px 25px;
    margin: 0 auto;
}

main .article-content {
    display: flex;
    flex-wrap: wrap;
}

main article img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: lightgray solid 1px;
}

main article .article-text {
    margin: 0 40px;
}

main article div h2 {
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

main article div .paragraph-text {
    margin: 8px 30px;
    color: gray;
}

main article .popout {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}

main article .paragraph-text div {
    margin: 15px 0;
}

main article .paragraph-text span {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}

main article button {
    border: none;
    background: none;
    font-size: 50px;
    height: 50px;
    width: 50px;
    line-height: 0;
    color: grey;
}

main article button:hover {
    color: black;
}

@media screen and (max-width: 1000px) {
    main article {
        justify-content: center;
    }

    main .article-content {
        justify-content: center;
    }

    main article .article-text {
        margin: 0 10px;
    }
}

@media screen and (max-width: 575px) {
    main {
        width: 85%;
        height: 85vh;
        margin: 7.5vh auto;
    }
    main article div {
        text-align: center;
    }
}